*{
    font-family: helvetica;
}
body{
    background-color: lightsalmon;
    text-align: center;
}
aside{
    width: 100%;
    height: 500px;
}
footer{
    background-color: darksalmon;
    width: 100%;
    height: 245px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main{
    background-color: darksalmon;
    width: 70%;
    height: 765px;
    overflow: auto;
    float: right;
}
header{
    background-color: green;
    width: 100%;
    height: 300px;
}
#left{
    float: left;
    width: 30%;
}